.email {
    font-family: Poppins;
    text-decoration: none;
    background-color: #08105D;
    padding: 10px 20px 10px 20px;
    border-radius: 27px;
    margin: 20px 20px 20px 20px;
    box-shadow: none;
}

*:focus{
    outline: none;
}