#anony{
    position : absolute;
    top: 79%;
    left: 38%;
}

.emailUser{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 4px;
}

.iconUser{
    color:orange;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.email{
    border:none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    margin-left: 8px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 280px
}

.passwordUser{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 4px;
}

.iconPassword{
    color:orange;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.password{
    border:none;
    margin-left: 8px;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 280px
}

.imageLogo{
    padding-top: 100px;
    width: 50px;
    height: 50px;
}

.buttonLogin{
    text-decoration: none;
    background-color:#2f3640;
    color: white;
    padding: 8px 35px;
    border-radius: 27px;
    font-size:14px;
    position: absolute;
    top: 79%;
    left: 53%;
}

.buttonLogin:hover, .active{
    background-color: #262C34;
}

.emailUser:hover, .active{
    background-color: #262C34;

}

.passwordUser:hover, .active{
    background-color: #262C34;
}

.newUserIcon {
    color: white;
    text-decoration: none;
    position: absolute;
    top: 90%;
    left: 41%;
    font-size: 14px;
}

.newUserIcon:hover, .active {
    color: #ACACAC;
}

