
.OrangeButton{
    position: relative;
    top:30px;
    padding: 8px 35px;
    margin-top: 40px;
    margin-left: 60px;
    background: linear-gradient(#FF6064, #FF9867);
    border-radius: 35px;
    text-decoration: none;
    z-index: 1;
    cursor: pointer;
}

.OrangeButton a > span {
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    background: #fff;
    border-radius: 18px;
}

.OrangeButton a > span > span {
    font-weight: bold;
    background: linear-gradient(#FF6064, #FF9867);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.OrangeButton:hover, .active{
    background: linear-gradient(#FD4E53,#FF844A);
}

#rightOrangeButton{
    position: relative;
    left:980px;
}

#rightOrangeButtonGamePage{
    position: relative;
    left: 350px;
    top: 50px;
}

#leftOrangeButtonGamePage{
    position: relative;
    right: 450px;
    top: 50px; 
}

#leftOrangeButtonRankingPage{
    position: relative;
    right: 540px;
    top: 50px; 
}

#rightOrangeButtonLevelPage {
    position: relative;
    left: 475px;
    bottom: 70px;
}



