@media (min-width: 376px) and (max-width: 768px) {
    .containerLoginPage {
        position: relative;
        bottom: 80px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .containerLoginPage {
        position: relative;
        bottom: 45px;
    }
}