@media (max-width: 320px) {
    .sharedButtons {
        flex-direction: row;
        left: 29%;
        top: 22.5%;
    }
}

@media(min-width: 321px) and (max-width: 375px) {
    .sharedButtons {
        flex-direction: row;
        left: 32%;
        top: 23%;
    }
}

@media(min-width: 376px) and (max-width: 425px) {
    .sharedButtons {
        flex-direction: row;
        left: 34%;
        top: 22.5%;
    }
}

@media(min-width: 426px) and (max-width: 768px) {
    .sharedButtons {
        flex-direction: row;
        left: 42%;
        top: 25%;
    }
}