@media (max-width: 375px) {
    .container-TeacherItem{
        width: 280px;
        height: 70px;
    }

    #score-username {
        padding: 23px 40px;
    }

    .position {
        left: 15px;
    }

    .score {
        position: relative;
        right: 10px;
    }

    #title {
        margin-top: 80px;
    }
}


@media(min-width: 376px) and (max-width: 425px) {
    .container-TeacherItem{
        width: 280px;
        height: 70px;
    }

    #score-username {
        padding: 23px 40px;
    }

    .position {
        left: 15px;
    }

    .score {
        position: relative;
        right: 10px;
    }

    #title {
        margin-top: 80px;
    }
}

/* @media(min-width: 426px) and (max-width: 768px) {

}

@media(min-width: 769px) and (max-width: 1024px) {
    .sharedButtons {
        left: 12%;
        top: 35%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .sharedButtons {
        flex-direction: row;
        left: 45%;
        top: 19%;
    }
} */