.containerNewUser{
    display: flex;
    justify-items: center;
    flex-direction: column;
    align-items: center;
    max-height: 630px;
}


.UserName, .UserEmail, .UserPassword, .ConfirmUserPassword{
    transform: translate(-50%,-50%);
    background: #2f3640;
    height: 40px;
    border-radius: 40px;
    padding: 4px;
    position: relative;
    left: 180px;
    margin-bottom: 10px;
    position: relative;
    bottom: 80px;
}

.UserIcon, .EmailIcon, .PasswordIcon, .iconConfirmUserPassword{
    color:orange;
    float: left;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background:#2f3640;
    display: flex;
    justify-content: center;
    align-items: center;
}

.name, .Email, .Password, .ConfirmPassword{
    border:none;
    background: none;
    outline: none;
    float: right;
    padding: 0;
    margin-left: 8px;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 280px
}

.buttonCreateUser{
    text-decoration: none;
    background-color:#2f3640;
    color: white;
    padding: 8px 60px 8px 60px;
    border-radius: 27px;
    font-size:14px;
    position: relative;
    bottom: 95px;
}

#leftSide{
    align-self: flex-start;
    margin-right: 4%;
}

#imageNewUSer{
    position: relative;
    bottom: 70px;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px #2f3640 inset;
}

input:-webkit-autofill {
    -webkit-text-fill-color: white !important;
}


.buttonCreateUser:hover, .active{
    background-color: #262C34;
}





