@media (max-width: 320px){
    #leftSide{
        position: relative;
        left: 5px;
        bottom: 15px;
    }

    .UserName, .UserEmail, .UserPassword, .ConfirmUserPassword{
        width: 230px;
        left: 130px;
        bottom: 35px;
    }

    .name, .Email, .Password, .ConfirmPassword {
        width: 170px;
    }

    .buttonCreateUser {
        bottom: 60px;
    }
}

@media(min-width: 321px) and (max-width: 375px){
    #leftSide {
        position: relative;
        bottom: 15px;
        left: 140px;
    }

    .UserName, .UserEmail, .UserPassword, .ConfirmUserPassword {
        left: 170px;
        bottom: 70px;
    }

    .buttonCreateUser {
        bottom: 90px;
    }
}