.container-TeacherItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    background-color: white;
    opacity: 0.6;
    color: black;
    width: 600px;
    height: 100px;
    border: 1px solid '#FFF';
    transform: skewX(-15deg);
    box-shadow: 10px 0px 10px #69A0D9;
    margin-bottom: 10px;
    box-sizing: border-box;
}


#score-username #score{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 100px;
}

#score-username {
    border-left: 2px solid #B0B7B7;
    border-right: 2px solid #B0B7B7;
    padding: 36px 150px;
}

.position {
    position: relative;
    left: 20px;
}

.score {
    position: relative;
    right: 20px;
}