.level-page {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    bottom: 50px;
}

#box1 {
    position: relative;
    top: 80px;
    width : 700px;
    height: 350px;
    background-color: white;
    border-radius: 25px;
    background-color: rgba(256, 256, 256, 0.6);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box1 .elements {
    margin-top: 45px;
}

#box1 .elements h4 {
    margin-top: 60px;
    color: rgba(0, 0,0, 0.7)
}