#photo {
    position: absolute;
    left: 70%;
    top: -8%;
} 

/* #first {
    position: absolute;
    top: 240px;
    left : 200px; 
}
#second{
    position: absolute;
    top: 340px;
    left: 720px;

}
#third{
    position: absolute;
    top: 400px;
    left: 195px;
}

#four{
    position: absolute;
    top: 490px;
    left: 710px;
} */



.ButtonsOptions{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top : 80px;
}

#first{
    position: relative;
    right: 200px;
}

#second {
    position : relative;
    left:230px;
}

#third{
    position: relative;
    right : 200px;
}

#four{
    position: relative;
    left: 230px;
    bottom:20px;
}