#photo {
    position: absolute;
    left: 70%;
    top: -8%;
} 

.ButtonsOptions{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top : 120px;
}

#first{
    position: relative;
    right: 200px;
}

#second {
    position : relative;
    left:230px;
}

#third{
    position: relative;
    right : 200px;
}

#four{
    position: relative;
    left: 230px;
    bottom:20px;
}

@media (max-width: 768px){
    #photo{
        display: none;
    }

    #first,#second,#third,#four {
        left: 0px;
        right:0px;
        top: 0px;
        bottom: 0px;
    }
}