#photo {
    position: absolute;
    left: 70%;
    top: -8%;
} 

.ButtonsOptions{
    display: flex;
    align-items: center ;
    justify-content: center;
    flex-direction: column;
    position: relative;
    top : 80px;
}

#first{
    position: relative;
    right: 200px;
}

#second {
    position : relative;
    left:230px;
}

#third{
    position: relative;
    right : 200px;
}

#four{
    position: relative;
    left: 230px;
    bottom:20px;
}