
@media (min-width: 376px) and (max-width: 425px) {

    .containerOptionPage {
        position: relative;
        bottom: 0px;
    } 
}

@media (min-width: 769px) and (max-width: 1024px) {
    #photo {
        max-width: 305px;
    }
}