@media (max-width: 320px){
    .image img {
        max-width: 550px;
    }
    .containerLogo {
        position: relative;
        bottom: 70px;
    }
}


@media (min-width: 321px) and (max-width: 375px) {
    .containerLogo{
        position: relative;
        bottom: 76px;
    }
}

@media (min-width: 376px) and (max-width: 425px) {
    .containerLogo{
        position: relative;
        bottom: 90px;
    }
}