#recButton{
  position: absolute;
  top: 20%;
  left: 4%;
  width: 35px;
  height: 35px;
  font-size: 0;
  border: 0;
  border-radius: 35px;
  outline: none;
}
    
.notRec{
    background-color: darkred;
}
    
.Rec{
    background-color: red;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    
@keyframes pulse{
    0%{
      box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
}

.recordClass {
  background-color:#F0F0F0;
  width: 500px;
  height: 60px;
  position : absolute;
  top: 79%;
  left: 30%;
  border-radius: 40px;
  opacity: 0.9;
}

#ButtonsAudio{
  display: inline-block;
}

.Submit, .clear{
  text-decoration: none;
  background-color:#2f3640;
  color: white;
  padding: 8px 35px;
  border-radius: 27px;
  font-size:14px;
  position: absolute;
}

#recording{
  position: absolute;
  top: 5%;
  left: 15%;
  opacity: 0.8;
  width: 400px;
  outline : none;
}

.Submit{
  top: 90%;
  left: 38%;
}

.clear {
  top : 90%;
  left: 52%;
}

.Submit:hover, .clear:hover, .active{
  background-color: #262C34;
}