.containerRecordButton{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#recButton{
  position: relative;
  left:12px;
  width: 50px;
  height: 50px;
  font-size: 0;
  border: 0;
  border-radius: 35px;
  outline: none;
}
    
.notRec{
    background-color: darkred;
}
    
.Rec{
    background-color: red;
    animation-name: pulse;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
    
@keyframes pulse{
    0%{
      box-shadow: 0px 0px 5px 0px rgba(173,0,0,.3);
    }
    65%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,.3);
    }
    90%{
      box-shadow: 0px 0px 5px 13px rgba(173,0,0,0);
    }
}

.recordClass {
  background-color:#F0F0F0;
  width: 500px;
  height: 60px;
  border-radius: 40px;
  opacity: 0.9;
  position: relative;
  bottom: 10px;
}

#ButtonsAudio{
  display: inline-block;
}

.Submit, .clear{
  text-decoration: none;
  background-color:#2f3640;
  color: white;
  padding: 8px 35px;
  border-radius: 27px;
  font-size:14px;
  margin-right: 10%;
  cursor: pointer;
}

#recording{
  position: relative;
  left: 25px;
  opacity: 0.8;
  width: 400px;
  outline : none;
}

.Submit:hover, .clear:hover, .active{
  background-color: #262C34;
}


#ButtonsAudio{
  position: relative;
  right:5px;
  display: flex;
  flex-direction: row;
}

.audioSent {
  position: absolute;
  bottom: 18%;
  color : #353844;
}