
#container p {
    color : #292D2D;
    text-shadow: 0px 4px 3px rgba(0,0,0,0,4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);

    font-family: lato;
}

#figcap {
    font-size: 25px;
}

#question{
    position: relative;
    left: 180px;
    color : #353844;
    width: 400px;
    font-size: 22px;
}

#content{
    position: relative;
    left: 8px;
    color:#4D4D4D;
    width: 600px;
    height: 250px;
    font-size: 19px;
}


#box {
    position: relative;
    top: 60px;
    width : 700px;
    height: 350px;
    opacity: 0.6;
    background-color: white;
    border-radius: 25px;
} 

p#content {
    position: relative;
    top:30px;
    height:200px;
    width:680px;
}

#imageCharacter {
    display: flex;
    position: absolute;
    top: 53%;
    left: 75.5%;
}


.answer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}