@media (max-width: 320px) {
    .sharedButtons {
        flex-direction: row;
        left: 29%;
        top: 15%;
    }
}

@media(min-width: 321px) and (max-width: 375px) {
    .sharedButtons {
        flex-direction: row;
        left: 32%;
        top: 19%;
    }
}

@media(min-width: 376px) and (max-width: 425px) {
    .sharedButtons {
        flex-direction: row;
        left: 34%;
        top: 19%;
    }
}

@media(min-width: 426px) and (max-width: 768px) {
    .sharedButtons {
        flex-direction: row;
        left: 42%;
        top: 25%;
    }
}

@media(min-width: 769px) and (max-width: 1024px) {
    .sharedButtons {
        left: 12%;
        top: 35%;
    }
}

@media (min-width: 1025px) and (max-width: 1440px) {
    .sharedButtons {
        flex-direction: row;
        left: 45%;
        top: 19%;
    }
}