.container-RankingPage {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    margin: 0 auto;
    position: relative;
    bottom: 60px;
}

#title {
    margin-bottom: 60px;
}