
#container p {
    position: absolute;
    top: 125px;
    left:320px;
    color : #292D2D;
    text-shadow: 0px 4px 3px rgba(0,0,0,0,4),
                 0px 8px 13px rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);

    font-family: lato;
}

#figcap {
    position: absolute;
    font-size: 25px;
    top: 30px;
    left: 450px;
}

#question{
    position: absolute;
    color : #353844;
    top: 23%; 
    left: 36.5%;
    width: 400px;
    font-size: 22px;
}

#content{
    position: aboslute;
    top : 40%;
    left: 30%;
    color:#707172;
    width: 500px;
    height: 250px;
    position: absolute;
    font-size: 26px;
}


#box {
    width : 550px;
    height: 350px;
    position: absolute;
    opacity: 0.6;
    top: 23%; 
    left: 28%;
    background-color: white;
    border-radius: 25px;
} 