@media (max-width: 320px) {
    #imageCharacter {
        display: none;
    }

    #box {
        width : 300px;
        height: 250px;
    }

    #question {
        font-size: 14px;
        left: 40px;
    }

    #content{
        font-size: 14px;
    }

    p#content {
        width: 300px;
    }
    
    .answer {
        position: relative;
        top: 12px;
    }
}

@media(min-width: 321px) and (max-width: 375px) {
    #imageCharacter {
        display: none;
    }

    #box {
        width : 355px;
        height: 250px;
    }

    #question {
        font-size: 14px;
        left: 60px;
    }

    #content{
        font-size: 14px;
        width: 320px;
    }

    p#content {
        width: 320px;
        height: 150px;
    }
    
    .answer {
        position: relative;
        top: 12px;
    }
}

@media(min-width: 376px) and (max-width: 425px) {
    #imageCharacter {
        display: none;
    }

    #box {
        width : 410px;
        height: 240px;
    }

    #question {
        font-size: 14px;
        left: 100px;
    }

    #content{
        font-size: 14px;
        width: 400px;
    }

    p#content {
        width: 400px;
        height: 140px;
        position: relative;
        bottom: 60px;
    }
    
    .answer {
        position: relative;
        top: 12px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    #imageCharacter {
        display: none;
    }
}