.mainBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imageChar{
    align-self: flex-end;
    position: absolute;
    bottom: 1%;
}

#text{
    color : black;
    margin-left: 10px;
    margin-top:60px;
}


#contentAbout{
    width : 700px;
    height: 350px;
    /* position: absolute; */
    opacity: 0.6;
    /* top: 23%; 
    left: 22%; */
    background-color: white;
    border-radius: 25px;
    position: relative;
    top:50px;
}

/* #imageChar{
    position: absolute;
    top:53%;
    left: 76%;
} */