#contentAbout{
    width : 700px;
    height: 350px;
    position: absolute;
    opacity: 0.6;
    top: 23%; 
    left: 22%;
    background-color: white;
    border-radius: 25px;
}

#imageChar{
    position: absolute;
    top:53%;
    left: 76%;
}