@media (max-width: 320px) {
    #imageChar {
        display: none;
    }

    #contentAbout {
        width: 300px;
    }

    #text {
        margin-top: 25px;
        font-size: 14px;
    }

}

@media (min-width: 321px) and (max-width:425px) {
    #imageChar {
        display: none;
    }

    #contentAbout {
        width: 360px;
    }

    #text {
        margin-top: 20px;
    }

    .mainBox {
        margin-top: 30px;
    }
}


@media (min-width: 769px) and (max-width: 1024px) {
    #imageChar {
        display: none;
    }

    .mainBox {
        margin-top: 50px;
    }
}